In [1]:
import requests
import pandas as pd
import numpy as np
from pprint import pprint
# import config
import re

In [2]:
# Import json and convert to DF
url = 'https://www.thecocktaildb.com/api/json/v2/9973533/search.php?s'

response = requests.get(url).json()

drinks_df = pd.json_normalize(response['drinks'], max_level=1)
drinks_df.head()

,idDrink,strDrink,strDrinkAlternate,strTags,strVideo,strCategory,strIBA,strAlcoholic,strGlass,strInstructions,...,strMeasure10,strMeasure11,strMeasure12,strMeasure13,strMeasure14,strMeasure15,strImageSource,strImageAttribution,strCreativeCommonsConfirmed,dateModified
0,15997,GG,None,None,None,Ordinary Drink,None,Optional alcohol,Collins Glass,Pour the Galliano liqueur over ice. Fill the r...,...,None,None,None,None,None,None,None,None,No,2016-07-18 22:06:00
1,17222,A1,None,None,None,Cocktail,None,Alcoholic,Cocktail glass,"Pour all ingredients into a cocktail shaker, m...",...,None,None,None,None,None,None,None,None,No,2017-09-07 21:42:09
2,13501,ABC,None,None,None,Shot,None,Alcoholic,Shot glass,Layered in a shot glass.,...,None,None,None,None,None,None,None,None,No,2016-08-31 19:32:08
3,17203,Kir,None,"IBA,ContemporaryClassic",None,Ordinary Drink,None,Alcoholic,Wine Glass,Add the crème de cassis to the bottom of the g...,...,None,None,None,None,None,None,None,None,No,2017-09-02 17:38:14
4,14229,747,None,None,None,Shot,None,Alcoholic,Shot glass,"pour kaluha, then Baileys, then Frangelico not...",...,None,None,None,None,None,None,None,None,No,2016-08-31 19:28:26

In [ ]:
# drinks_df.columns

In [12]:
measure_df = drinks_df[['idDrink', 'strDrink',  'strIngredient1', 'strMeasure1', 'strIngredient2', 'strMeasure2',
                        'strIngredient3', 'strMeasure3', 'strIngredient4', 'strMeasure4','strIngredient5', 'strMeasure5',
                        'strIngredient6', 'strMeasure6', 'strIngredient7', 'strMeasure7','strIngredient8', 'strMeasure8',
                        'strIngredient9', 'strMeasure9', 'strIngredient10', 'strMeasure10', 'strIngredient11', 'strMeasure11',
                        'strIngredient12', 'strMeasure12']]

measure_df
# measure_df.to_excel("measure_df.xlsx")

In [42]:
measurements = []
units = []

# check if numeric or alpha 
for index, row in measure_df.iterrows():
    string_list = row['strMeasure1']
    if (string_list):
            wordsRegex = "[a-zA-z]+"
            numbersRegex = "(\d [\d\/\d]*)"
            words = re.search(wordsRegex, string_list)
            measure = re.search(numbersRegex, string_list)
            if (words):
                units.append(words.group(0))
            else:
                units.append("")
            if (measure):
                measurements.append(measure.group(0))
            else:
                measurements.append("")
    else:
        measurements.append("")
        units.append("")
                
measurements_df = pd.DataFrame(
    {"Measurements": measurements, "Units": units}, 
)
measurements_df.head()

  Measurements  Units
0        2 1/2  shots
1        1 3/4   shot
2           3
3           1    part
4           3    part

In [41]:
measurements_df["Units"].unique()

array([''], dtype=object)

In [8]:
# split measurements column on the space, rename columns 
split_measurements_df = pd.DataFrame(measurements_df['Measurements'].str.split(' ',1).tolist(),
                                 columns = ['Measurement_a','Measurement_b'])

# Potential fractions to be dealt with: ['1/2', '3/4', '2/3', '1/4']
# replace with decimals
split_measurements_df['Measurement_b'] = split_measurements_df['Measurement_b'].replace(['1/2','3/4','2/3','1/4'],
                                                                                        [.5,.75,.66,.25])
# convert string to number
split_measurements_df['Measurement_a'] = pd.to_numeric(split_measurements_df['Measurement_a'], errors='coerce')
split_measurements_df['Measurement_b'] = pd.to_numeric(split_measurements_df['Measurement_b'], errors='coerce')

# make all NANs = 0
split_measurements_df['Measurement_b'] = split_measurements_df['Measurement_b'].fillna(0)

# create a new column with total
split_measurements_df['Total'] = split_measurements_df['Measurement_a'] + split_measurements_df['Measurement_b']

# add back the units column
split_measurements_df['Units'] = units

split_measurements_df.head()

   Measurement_a  Measurement_b  Total  Units
0            2.0           0.50   2.50  shots
1            1.0           0.75   1.75   shot
2            3.0           0.00   3.00
3            1.0           0.00   1.00   part
4            3.0           0.00   3.00   part

In [43]:
all_units = ['shots', 'shot', '', 'part', 'oz', 'cl', 'dash', 'pint', 'parts',
       'Chilled', 'tsp', 'Juice', 'cup', 'bottle', 'dashes', 'ml',
       'tblsp', 'L', 'mikey', 'jiggers', 'fifth', 'fresh', 'cups',
       'pieces', 'can', 'scoops', 'handful', 'long', 'cL', 'bottles',
       'qt', 'dl', 'gr', 'quart', 'measures', 'glass', 'cubes', 'jigger',
       'black', 'full', 'kg', 'inch', 'lb', 'large', '', 'Shot', 'parts', 'part', 'shot', 'oz', 'cl', 'dashes',
       'Unsweetened', 'splash', 'pint', 'Juice', 'shots', 'tsp', 'tblsp',
       'cup', 'Add', 'dash', 'ml', 'large', 'jigger', 'Squeeze', 'frozen',
       'Turkish', 'L', 'fifth', 'whole', 'cups', 'gal', 'gr', 'packages',
       'bottle', 'can', 'very', 'cans', 'tbsp', 'Top', 'drops', 'quart',
       'orange', 'glass', 'About', 'slice', 'piece', 'Strong', 'scoops',
       'chunks','', 'Shot', 'part', 'shot', 'tsp', 'oz', 'Fresh', 'Fill', 'cl',
       'dash', 'parts', 'splash', 'dashes', 'Juice', 'seltzer', 'cup',
       'cubes', 'tblsp', 'to', 'slice', 'cube', 'twist', 'gr', 'ml',
       'Twist', 'shots', 'Top', 'drops', 'whole', 'wedge', 'cups',
       'frozen', 'if', 'wedges', 'L', 'lb', 'chunk', 'can', 'scoops',
       'full', 'Chilled', 'gal', 'splashes', 'fifth', 'tbsp', 'Garnish',
       'By', 'pint', 'glass', 'pods', 'cracked', 'Dash', 'large',
       'spoons', 'stick', 'ripe', 'A', 'Full', 'Cup', 'inch','', 'Shot', 'shot', 'part', 'tsp', 'oz', 'slice', 'dashes', 'cup',
       'top', 'cl', 'cubes', 'ml', 'twist', 'or', 'dash', 'Twist',
       'Float', 'pinches', 'Fresh', 'Top', 'Dash', 'chunks', 'Bacardi',
       'dl', 'L', 'Juice', 'whole', 'piece', 'pinch', 'cups', 'crushed',
       'tblsp', 'drops', 'splash', 'About', 'lots', 'package', 'parts',
       'Chopped', 'jiggers', 'Sprig', 'gal', 'Fill', 'glass', 'Claret',
       'scoops', 'wedge', 'Garnish', 'Coarse', 'qt', 'pint', 'Add',
       'Whole', 'one', 'beaten', 'large', 'inch', 'for','', 'Fresh', 'tsp', 'oz', 'fill', 'dash', 'Dash', 'cl', 'twist',
       'Twist', 'slice', 'crushed', 'top', 'Around', 'cubes', 'Top',
       'cup', 'small', 'Garnish', 'drops', 'ground', 'tblsp', 'Over',
       'parts', 'Chopped', 'dashes', 'gal', 'garnish', 'wedges', 'to',
       'cups', 'Wedges', 'part', 'Juice', 'pint', 'qt', 'splash',
       'Dashes', 'whole', 'large', 'Ground', 'shot', 'Grated', 'mini',
       'tablespoons', 'inch','', 'tsp', 'twist', 'pinch', 'Garnish', 'tblsp', 'dashes', 'Dash',
       'pint', 'wedge', 'slice', 'piece', 'ml', 'parts', 'Top', 'L',
       'cup', 'wedges', 'long', 'oz', 'Slice', 'cubes', 'splash', 'fifth',
       'Pinch', 'cl', 'Rimmed', 'Twist', 'whole', 'Fresh', 'shots',
       'bottle', 'shot', 'Fill', 'tablespoons','', 'drop', 'Fill', 'pint', 'tsp', 'whole', 'cup', 'part', 'oz',
       'Large', 'dash', 'sprigs', 'tblsp', 'cups', 'Top', 'Garnish',
       'shot','', 'cup', 'to', 'oz', 'pint', 'crushed', 'drops', 'piece',
       'sticks', 'wedge','', 'wedge', 'drops', 'cup', 'Garnish','', 'cup', 'drops','', 'Ground', 'tsp', 'drop','', 'drop']

In [46]:
all_units_unique = list(set(all_units))
all_units_unique

['',
 'frozen',
 'cL',
 'Fresh',
 'long',
 'Large',
 'large',
 'A',
 'Chopped',
 'qt',
 'shot',
 'spoons',
 'Rimmed',
 'Dash',
 'Cup',
 'cans',
 'quart',
 'drop',
 'whole',
 'stick',
 'for',
 'fresh',
 'L',
 'Wedges',
 'Strong',
 'Dashes',
 'Unsweetened',
 'sticks',
 'pieces',
 'jigger',
 'ground',
 'Garnish',
 'ripe',
 'Coarse',
 'or',
 'bottle',
 'Turkish',
 'chunk',
 'fifth',
 'top',
 'part',
 'Fill',
 'shots',
 'beaten',
 'tablespoons',
 'Grated',
 'inch',
 'pinch',
 'Whole',
 'lots',
 'crushed',
 'to',
 'Over',
 'very',
 'measures',
 'Add',
 'gr',
 'small',
 'Chilled',
 'tbsp',
 'handful',
 'About',
 'cracked',
 'one',
 'pinches',
 'kg',
 'tsp',
 'cubes',
 'cup',
 'Ground',
 'tblsp',
 'splash',
 'Sprig',
 'dl',
 'Twist',
 'wedges',
 'can',
 'pint',
 'pods',
 'parts',
 'full',
 'Shot',
 'slice',
 'Full',
 'Bacardi',
 'sprigs',
 'jiggers',
 'drops',
 'Pinch',
 'cube',
 'oz',
 'By',
 'glass',
 'Claret',
 'splashes',
 'Around',
 'black',
 'cl',
 'wedge',
 'Slice',
 'Float',
 'mini',
 'lb',
 'ml',
 'bottles',
 'scoops',
 'Squeeze',
 'fill',
 'package',
 'packages',
 'dash',
 'orange',
 'twist',
 'if',
 'dashes',
 'garnish',
 'gal',
 'seltzer',
 'Juice',
 'cups',
 'mikey',
 'Top',
 'chunks',
 'piece']

In [48]:
actual_units = ['','cL','qt','shot','spoons','Dash','Cup','cans','quart','drop','L','Dashes','jigger','bottle',
                'fifth','top','part','Fill','shots','beaten','tablespoons','inch','gr','tbsp','handful','pinches',
                'kg','tsp','cubes','cup','tblsp','splash','dl','can','pint','parts','full','Shot','Full','Bacardi',
                'jiggers','drops','Pinch','cube','oz','splashes','cl','Float','lb','ml','bottles','scoops','Squeeze',
                'fill','package','packages','dash','dashes','gal','seltzer','Juice','cups','Top']

In [49]:
measurement_conversions = {'unit': actual_units,
                             'multiplier': [0,0.338,32,1.5,0.5,0.25,8,12,32,0.01,33.8,0.25,1.5,12,
                                           25.5,1,1.5,1,1.5,2,0.5,1,0.035,0.5,1,0.15,
                                           35.274,0.167,0.5,8,0.5,0.5,3.38,12,16,1.5,1,1.5,1,1.5,
                                           1.5,0.01,0.15,0.5,1,0.5,0.338,1,16,0.0338,12,2,0.25,
                                           1,1,1,0.25,0.25,124,1,1,8,1]}
measurement_conversions_df = pd.DataFrame.from_dict(measurement_conversions)

measurement_conversions_df.head(10)

     unit  multiplier
0               0.000
1      cL       0.338
2      qt      32.000
3    shot       1.500
4  spoons       0.500
5    Dash       0.250
6     Cup       8.000
7    cans      12.000
8   quart      32.000
9    drop       0.010

In [50]:
def units_to_oz(row):
    unit = row["Units"]
    #if unit in measurement_conversions_df, then
    mult = measurement_conversions_df.loc[measurement_conversions_df["unit"] == unit, "multiplier"].item()
    t = row["Total"]
    row["Total"] = t * mult
    #else
    #row["Total"] = 0

    return row

In [51]:
temp = split_measurements_df.apply(units_to_oz, axis = 1)
temp.head()

ValueError: can only convert an array of size 1 to a Python scalar

In [5]:
count = 0

def split(df_column):
    global count
    print("count:", count)
    count += 1
    print(type(df_column))
#     df_column = str(df_column)

    ### this section separates numbers from words
    measurements = []
    units = []
    
    try: 
        for index, string_list in df_column.items():
            #string_list = row['strMeasure1']
            if (string_list):
                    wordsRegex = "[a-zA-z]+"
                    numbersRegex = "(\d [\d\/\d]*)"
                    words = re.search(wordsRegex, string_list)
                    measure = re.search(numbersRegex, string_list)
                    if (words):
                        units.append(words.group(0))
                    else:
                        units.append("")
                    if (measure):
                        measurements.append(measure.group(0))
                    else:
                        measurements.append("")
            else:
                measurements.append("")
                units.append("")

        measurements_df = pd.DataFrame(
            {"Measurements": measurements, "Units": units}, 
        )
        print(measurements_df)

        ### this section converts the fractions to floats

        # split measurements column on the space, rename columns 
        split_measurements_df = pd.DataFrame(measurements_df['Measurements'].str.split(' ',1).tolist(),
                                         columns = ['Measurement_a','Measurement_b'])

        # Potential fractions to be dealt with: ['1/2', '3/4', '2/3', '1/4']
        # replace with decimals
        split_measurements_df['Measurement_b'] = split_measurements_df['Measurement_b'].replace(['1/2','3/4','2/3','1/4'],
                                                                                                [.5,.75,.66,.25])
        # convert string to number
        split_measurements_df['Measurement_a'] = pd.to_numeric(split_measurements_df['Measurement_a'], errors='coerce')
        split_measurements_df['Measurement_b'] = pd.to_numeric(split_measurements_df['Measurement_b'], errors='coerce')

        # make all NANs = 0
        split_measurements_df['Measurement_b'] = split_measurements_df['Measurement_b'].fillna(0)

        # create a new column with total
        split_measurements_df['Total'] = split_measurements_df['Measurement_a'] + split_measurements_df['Measurement_b']

        # add back the units column
        split_measurements_df['Units'] = units
        #split_measurements_df

        ### this section converts to ounces using pre-defined multipliers
        # use units_to_oz with apply function
        split_measurements_df['Total'] = split_measurements_df.apply(units_to_oz, axis=1)

        df_column = split_measurements_df["Total"]
    
    except:
        pass
    
    return df_column # this returns a series

In [6]:
# new_df = measure_df[['strMeasure1', 'strMeasure2',
#        'strMeasure3', 'strMeasure4', 'strMeasure5', 'strMeasure6',
#        'strMeasure7', 'strMeasure8', 'strMeasure9', 'strMeasure10',
#        'strMeasure11', 'strMeasure12', 'strMeasure13', 'strMeasure14',
#        'strMeasure15']].apply(split, axis = 1)
new_df = measure_df['strMeasure1'].apply(split)
new_df

count: 0
<class 'str'>
count: 1
<class 'str'>
count: 2
<class 'str'>
count: 3
<class 'str'>
count: 4
<class 'str'>
count: 5
<class 'str'>
count: 6
<class 'str'>
count: 7
<class 'str'>
count: 8
<class 'str'>
count: 9
<class 'str'>
count: 10
<class 'str'>
count: 11
<class 'str'>
count: 12
<class 'str'>
count: 13
<class 'str'>
count: 14
<class 'str'>
count: 15
<class 'str'>
count: 16
<class 'str'>
count: 17
<class 'str'>
count: 18
<class 'NoneType'>
count: 19
<class 'str'>
count: 20
<class 'str'>
count: 21
<class 'str'>
count: 22
<class 'str'>
count: 23
<class 'str'>
count: 24
<class 'str'>
count: 25
<class 'str'>
count: 26
<class 'str'>
count: 27
<class 'str'>
count: 28
<class 'str'>
count: 29
<class 'str'>
count: 30
<class 'str'>
count: 31
<class 'NoneType'>
count: 32
<class 'str'>
count: 33
<class 'str'>
count: 34
<class 'str'>
count: 35
<class 'str'>
count: 36
<class 'str'>
count: 37
<class 'str'>
count: 38
<class 'str'>
count: 39
<class 'str'>
count: 40
<class 'str'>
count: 41
<class 'str'>
count: 42
<class 'str'>
count: 43
<class 'str'>
count: 44
<class 'str'>
count: 45
<class 'str'>
count: 46
<class 'str'>
count: 47
<class 'str'>
count: 48
<class 'str'>
count: 49
<class 'str'>
count: 50
<class 'str'>
count: 51
<class 'str'>
count: 52
<class 'str'>
count: 53
<class 'str'>
count: 54
<class 'str'>
count: 55
<class 'str'>
count: 56
<class 'str'>
count: 57
<class 'str'>
count: 58
<class 'str'>
count: 59
<class 'str'>
count: 60
<class 'str'>
count: 61
<class 'str'>
count: 62
<class 'str'>
count: 63
<class 'str'>
count: 64
<class 'str'>
count: 65
<class 'str'>
count: 66
<class 'str'>
count: 67
<class 'str'>
count: 68
<class 'str'>
count: 69
<class 'str'>
count: 70
<class 'str'>
count: 71
<class 'str'>
count: 72
<class 'str'>
count: 73
<class 'str'>
count: 74
<class 'str'>
count: 75
<class 'str'>
count: 76
<class 'str'>
count: 77
<class 'str'>
count: 78
<class 'str'>
count: 79
<class 'str'>
count: 80
<class 'str'>
count: 81
<class 'str'>
count: 82
<class 'str'>
count: 83
<class 'NoneType'>
count: 84
<class 'str'>
count: 85
<class 'str'>
count: 86
<class 'str'>
count: 87
<class 'str'>
count: 88
<class 'str'>
count: 89
<class 'str'>
count: 90
<class 'str'>
count: 91
<class 'str'>
count: 92
<class 'str'>
count: 93
<class 'str'>
count: 94
<class 'str'>
count: 95
<class 'str'>
count: 96
<class 'str'>
count: 97
<class 'str'>
count: 98
<class 'str'>
count: 99
<class 'str'>
count: 100
<class 'str'>
count: 101
<class 'str'>
count: 102
<class 'str'>
count: 103
<class 'str'>
count: 104
<class 'str'>
count: 105
<class 'str'>
count: 106
<class 'str'>
count: 107
<class 'str'>
count: 108
<class 'str'>
count: 109
<class 'str'>
count: 110
<class 'str'>
count: 111
<class 'str'>
count: 112
<class 'str'>
count: 113
<class 'str'>
count: 114
<class 'str'>
count: 115
<class 'str'>
count: 116
<class 'str'>
count: 117
<class 'str'>
count: 118
<class 'str'>
count: 119
<class 'str'>
count: 120
<class 'str'>
count: 121
<class 'str'>
count: 122
<class 'str'>
count: 123
<class 'str'>
count: 124
<class 'str'>
count: 125
<class 'str'>
count: 126
<class 'str'>
count: 127
<class 'str'>
count: 128
<class 'str'>
count: 129
<class 'str'>
count: 130
<class 'str'>
count: 131
<class 'str'>
count: 132
<class 'str'>
count: 133
<class 'str'>
count: 134
<class 'str'>
count: 135
<class 'str'>
count: 136
<class 'str'>
count: 137
<class 'str'>
count: 138
<class 'str'>
count: 139
<class 'str'>
count: 140
<class 'str'>
count: 141
<class 'str'>
count: 142
<class 'str'>
count: 143
<class 'str'>
count: 144
<class 'str'>
count: 145
<class 'str'>
count: 146
<class 'str'>
count: 147
<class 'str'>
count: 148
<class 'str'>
count: 149
<class 'str'>
count: 150
<class 'str'>
count: 151
<class 'str'>
count: 152
<class 'str'>
count: 153
<class 'str'>
count: 154
<class 'str'>
count: 155
<class 'str'>
count: 156
<class 'str'>
count: 157
<class 'str'>
count: 158
<class 'str'>
count: 159
<class 'str'>
count: 160
<class 'str'>
count: 161
<class 'str'>
count: 162
<class 'str'>
count: 163
<class 'str'>
count: 164
<class 'str'>
count: 165
<class 'NoneType'>
count: 166
<class 'str'>
count: 167
<class 'str'>
count: 168
<class 'str'>
count: 169
<class 'str'>
count: 170
<class 'str'>
count: 171
<class 'NoneType'>
count: 172
<class 'str'>
count: 173
<class 'str'>
count: 174
<class 'str'>
count: 175
<class 'str'>
count: 176
<class 'str'>
count: 177
<class 'str'>
count: 178
<class 'str'>
count: 179
<class 'str'>
count: 180
<class 'str'>
count: 181
<class 'str'>
count: 182
<class 'str'>
count: 183
<class 'str'>
count: 184
<class 'str'>
count: 185
<class 'str'>
count: 186
<class 'str'>
count: 187
<class 'str'>
count: 188
<class 'str'>
count: 189
<class 'str'>
count: 190
<class 'str'>
count: 191
<class 'str'>
count: 192
<class 'str'>
count: 193
<class 'str'>
count: 194
<class 'str'>
count: 195
<class 'str'>
count: 196
<class 'str'>
count: 197
<class 'str'>
count: 198
<class 'str'>
count: 199
<class 'str'>
count: 200
<class 'str'>
count: 201
<class 'str'>
count: 202
<class 'str'>
count: 203
<class 'str'>
count: 204
<class 'str'>
count: 205
<class 'str'>
count: 206
<class 'str'>
count: 207
<class 'str'>
count: 208
<class 'str'>
count: 209
<class 'str'>
count: 210
<class 'str'>
count: 211
<class 'str'>
count: 212
<class 'str'>
count: 213
<class 'str'>
count: 214
<class 'str'>
count: 215
<class 'str'>
count: 216
<class 'str'>
count: 217
<class 'str'>
count: 218
<class 'str'>
count: 219
<class 'str'>
count: 220
<class 'str'>
count: 221
<class 'str'>
count: 222
<class 'str'>
count: 223
<class 'str'>
count: 224
<class 'str'>
count: 225
<class 'str'>
count: 226
<class 'str'>
count: 227
<class 'str'>
count: 228
<class 'str'>
count: 229
<class 'str'>
count: 230
<class 'str'>
count: 231
<class 'str'>
count: 232
<class 'str'>
count: 233
<class 'str'>
count: 234
<class 'str'>
count: 235
<class 'str'>
count: 236
<class 'str'>
count: 237
<class 'str'>
count: 238
<class 'str'>
count: 239
<class 'str'>
count: 240
<class 'str'>
count: 241
<class 'str'>
count: 242
<class 'str'>
count: 243
<class 'str'>
count: 244
<class 'str'>
count: 245
<class 'str'>
count: 246
<class 'str'>
count: 247
<class 'str'>
count: 248
<class 'str'>
count: 249
<class 'str'>
count: 250
<class 'str'>
count: 251
<class 'str'>
count: 252
<class 'str'>
count: 253
<class 'str'>
count: 254
<class 'str'>
count: 255
<class 'str'>
count: 256
<class 'str'>
count: 257
<class 'str'>
count: 258
<class 'str'>
count: 259
<class 'str'>
count: 260
<class 'str'>
count: 261
<class 'str'>
count: 262
<class 'str'>
count: 263
<class 'str'>
count: 264
<class 'str'>
count: 265
<class 'str'>
count: 266
<class 'str'>
count: 267
<class 'str'>
count: 268
<class 'str'>
count: 269
<class 'str'>
count: 270
<class 'str'>
count: 271
<class 'str'>
count: 272
<class 'str'>
count: 273
<class 'str'>
count: 274
<class 'str'>
count: 275
<class 'NoneType'>
count: 276
<class 'str'>
count: 277
<class 'str'>
count: 278
<class 'str'>
count: 279
<class 'str'>
count: 280
<class 'str'>
count: 281
<class 'str'>
count: 282
<class 'NoneType'>
count: 283
<class 'str'>
count: 284
<class 'str'>
count: 285
<class 'str'>
count: 286
<class 'str'>
count: 287
<class 'str'>
count: 288
<class 'str'>
count: 289
<class 'str'>
count: 290
<class 'str'>
count: 291
<class 'str'>
count: 292
<class 'str'>
count: 293
<class 'str'>
count: 294
<class 'str'>
count: 295
<class 'str'>
count: 296
<class 'str'>
count: 297
<class 'str'>
count: 298
<class 'str'>
count: 299
<class 'str'>
count: 300
<class 'str'>
count: 301
<class 'str'>
count: 302
<class 'str'>
count: 303
<class 'str'>
count: 304
<class 'str'>
count: 305
<class 'str'>
count: 306
<class 'str'>
count: 307
<class 'str'>
count: 308
<class 'str'>
count: 309
<class 'str'>
count: 310
<class 'str'>
count: 311
<class 'str'>
count: 312
<class 'str'>
count: 313
<class 'str'>
count: 314
<class 'str'>
count: 315
<class 'str'>
count: 316
<class 'str'>
count: 317
<class 'str'>
count: 318
<class 'str'>
count: 319
<class 'str'>
count: 320
<class 'str'>
count: 321
<class 'str'>
count: 322
<class 'str'>
count: 323
<class 'str'>
count: 324
<class 'str'>
count: 325
<class 'str'>
count: 326
<class 'str'>
count: 327
<class 'str'>
count: 328
<class 'str'>
count: 329
<class 'str'>
count: 330
<class 'str'>
count: 331
<class 'str'>
count: 332
<class 'str'>
count: 333
<class 'str'>
count: 334
<class 'str'>
count: 335
<class 'str'>
count: 336
<class 'str'>
count: 337
<class 'str'>
count: 338
<class 'str'>
count: 339
<class 'str'>
count: 340
<class 'str'>
count: 341
<class 'str'>
count: 342
<class 'str'>
count: 343
<class 'str'>
count: 344
<class 'str'>
count: 345
<class 'str'>
count: 346
<class 'str'>
count: 347
<class 'str'>
count: 348
<class 'str'>
count: 349
<class 'str'>
count: 350
<class 'str'>
count: 351
<class 'str'>
count: 352
<class 'str'>
count: 353
<class 'str'>
count: 354
<class 'str'>
count: 355
<class 'str'>
count: 356
<class 'str'>
count: 357
<class 'str'>
count: 358
<class 'str'>
count: 359
<class 'str'>
count: 360
<class 'str'>
count: 361
<class 'str'>
count: 362
<class 'str'>
count: 363
<class 'str'>
count: 364
<class 'str'>
count: 365
<class 'str'>
count: 366
<class 'str'>
count: 367
<class 'str'>
count: 368
<class 'str'>
count: 369
<class 'str'>
count: 370
<class 'str'>
count: 371
<class 'str'>
count: 372
<class 'str'>
count: 373
<class 'str'>
count: 374
<class 'str'>
count: 375
<class 'str'>
count: 376
<class 'str'>
count: 377
<class 'str'>
count: 378
<class 'NoneType'>
count: 379
<class 'str'>
count: 380
<class 'str'>
count: 381
<class 'str'>
count: 382
<class 'str'>
count: 383
<class 'str'>
count: 384
<class 'str'>
count: 385
<class 'str'>
count: 386
<class 'str'>
count: 387
<class 'str'>
count: 388
<class 'str'>
count: 389
<class 'str'>
count: 390
<class 'str'>
count: 391
<class 'str'>
count: 392
<class 'str'>
count: 393
<class 'str'>
count: 394
<class 'str'>
count: 395
<class 'str'>
count: 396
<class 'str'>
count: 397
<class 'str'>
count: 398
<class 'str'>
count: 399
<class 'str'>
count: 400
<class 'str'>
count: 401
<class 'str'>
count: 402
<class 'str'>
count: 403
<class 'str'>
count: 404
<class 'str'>
count: 405
<class 'str'>
count: 406
<class 'str'>
count: 407
<class 'str'>
count: 408
<class 'str'>
count: 409
<class 'str'>
count: 410
<class 'str'>
count: 411
<class 'str'>
count: 412
<class 'str'>
count: 413
<class 'str'>
count: 414
<class 'str'>
count: 415
<class 'str'>
count: 416
<class 'str'>
count: 417
<class 'str'>
count: 418
<class 'str'>
count: 419
<class 'str'>
count: 420
<class 'str'>
count: 421
<class 'str'>
count: 422
<class 'str'>
count: 423
<class 'str'>
count: 424
<class 'str'>
count: 425
<class 'NoneType'>
count: 426
<class 'str'>
count: 427
<class 'str'>
count: 428
<class 'str'>
count: 429
<class 'str'>
count: 430
<class 'str'>
count: 431
<class 'str'>
count: 432
<class 'str'>
count: 433
<class 'str'>
count: 434
<class 'str'>
count: 435
<class 'str'>
count: 436
<class 'str'>
count: 437
<class 'str'>
count: 438
<class 'str'>
count: 439
<class 'str'>
count: 440
<class 'str'>
count: 441
<class 'str'>
count: 442
<class 'str'>
count: 443
<class 'str'>
count: 444
<class 'str'>
count: 445
<class 'str'>
count: 446
<class 'str'>
count: 447
<class 'str'>
count: 448
<class 'str'>
count: 449
<class 'str'>
count: 450
<class 'str'>
count: 451
<class 'str'>
count: 452
<class 'str'>
count: 453
<class 'str'>
count: 454
<class 'str'>
count: 455
<class 'str'>
count: 456
<class 'NoneType'>
count: 457
<class 'str'>
count: 458
<class 'str'>
count: 459
<class 'str'>
count: 460
<class 'str'>
count: 461
<class 'str'>
count: 462
<class 'str'>
count: 463
<class 'str'>
count: 464
<class 'str'>
count: 465
<class 'str'>
count: 466
<class 'str'>
count: 467
<class 'str'>
count: 468
<class 'str'>
count: 469
<class 'str'>
count: 470
<class 'str'>
count: 471
<class 'str'>
count: 472
<class 'str'>
count: 473
<class 'str'>
count: 474
<class 'str'>
count: 475
<class 'str'>
count: 476
<class 'str'>
count: 477
<class 'str'>
count: 478
<class 'str'>
count: 479
<class 'str'>
count: 480
<class 'str'>

count: 481
<class 'str'>
count: 482
<class 'str'>
count: 483
<class 'str'>
count: 484
<class 'str'>
count: 485
<class 'str'>
count: 486
<class 'str'>
count: 487
<class 'str'>
count: 488
<class 'str'>
count: 489
<class 'str'>
count: 490
<class 'str'>
count: 491
<class 'str'>
count: 492
<class 'str'>
count: 493
<class 'str'>
count: 494
<class 'str'>
count: 495
<class 'str'>
count: 496
<class 'str'>
count: 497
<class 'str'>
count: 498
<class 'str'>
count: 499
<class 'str'>
count: 500
<class 'str'>
count: 501
<class 'str'>
count: 502
<class 'str'>
count: 503
<class 'str'>
count: 504
<class 'str'>
count: 505
<class 'str'>
count: 506
<class 'str'>
count: 507
<class 'str'>
count: 508
<class 'str'>
count: 509
<class 'str'>
count: 510
<class 'str'>
count: 511
<class 'str'>
count: 512
<class 'str'>
count: 513
<class 'str'>
count: 514
<class 'str'>
count: 515
<class 'str'>
count: 516
<class 'str'>
count: 517
<class 'str'>
count: 518
<class 'str'>
count: 519
<class 'str'>
count: 520
<class 'str'>
count: 521
<class 'str'>
count: 522
<class 'str'>
count: 523
<class 'str'>
count: 524
<class 'str'>
count: 525
<class 'str'>
count: 526
<class 'str'>
count: 527
<class 'str'>
count: 528
<class 'str'>
count: 529
<class 'str'>
count: 530
<class 'str'>
count: 531
<class 'str'>
count: 532
<class 'str'>
count: 533
<class 'str'>
count: 534
<class 'str'>
count: 535
<class 'str'>
count: 536
<class 'str'>
count: 537
<class 'str'>
count: 538
<class 'str'>
count: 539
<class 'str'>
count: 540
<class 'str'>
count: 541
<class 'str'>
count: 542
<class 'str'>
count: 543
<class 'str'>
count: 544
<class 'str'>
count: 545
<class 'str'>
count: 546
<class 'str'>
count: 547
<class 'str'>
count: 548
<class 'str'>
count: 549
<class 'str'>
count: 550
<class 'str'>
count: 551
<class 'str'>
count: 552
<class 'str'>
count: 553
<class 'str'>
count: 554
<class 'str'>
count: 555
<class 'str'>
count: 556
<class 'str'>
count: 557
<class 'str'>
count: 558
<class 'str'>
count: 559
<class 'str'>
count: 560
<class 'str'>
count: 561
<class 'str'>
count: 562
<class 'str'>
count: 563
<class 'str'>
count: 564
<class 'str'>
count: 565
<class 'str'>
count: 566
<class 'str'>
count: 567
<class 'str'>
count: 568
<class 'str'>
count: 569
<class 'str'>
count: 570
<class 'str'>
count: 571
<class 'str'>
count: 572
<class 'str'>
count: 573
<class 'str'>
count: 574
<class 'NoneType'>
count: 575
<class 'str'>
count: 576
<class 'str'>
count: 577
<class 'str'>
count: 578
<class 'str'>
count: 579
<class 'str'>
count: 580
<class 'str'>
count: 581
<class 'str'>
count: 582
<class 'str'>
count: 583
<class 'str'>
count: 584
<class 'str'>
count: 585
<class 'str'>
count: 586
<class 'str'>
count: 587
<class 'str'>
count: 588
<class 'str'>
count: 589
<class 'str'>
count: 590
<class 'str'>
count: 591
<class 'str'>
count: 592
<class 'str'>
count: 593
<class 'str'>
count: 594
<class 'str'>
count: 595
<class 'str'>
count: 596
<class 'str'>
count: 597
<class 'str'>
count: 598
<class 'str'>
count: 599
<class 'str'>
count: 600
<class 'str'>
count: 601
<class 'str'>
count: 602
<class 'str'>
count: 603
<class 'str'>
count: 604
<class 'str'>
count: 605
<class 'str'>
count: 606
<class 'str'>
count: 607
<class 'str'>
count: 608
<class 'str'>
count: 609
<class 'str'>
count: 610
<class 'str'>
count: 611
<class 'str'>
count: 612
<class 'str'>
count: 613
<class 'str'>
count: 614
<class 'str'>
count: 615
<class 'str'>
count: 616
<class 'str'>
count: 617
<class 'str'>

0        2 1/2 shots
1         1 3/4 shot
2                1/3
3             1 part
4           1/3 part
            ...
613             2 oz
614    1/2 lb frozen
615             1 oz
616       1 oz white
617              2 oz
Name: strMeasure1, Length: 618, dtype: object

In [ ]:
test_df = measure_df.copy(deep=True)
test_df.head()

In [ ]:
# def eda_helper(df):
#     dict_list = []
#     for col in df.columns:
#         data = df[col]
#         dict_ = {}
#         # The null count for a column. Columns with no nulls are generally more interesting
#         dict_.update({"null_count" : data.isnull().sum()})
#         # Counting the unique values in a column
#         # This is useful for seeing how interesting the column might be as a feature
#         dict_.update({"unique_count" : len(data.unique())})
#         # Finding the types of data in the column
#         # This is useful for finding out potential problems with a column having strings and ints
#         dict_.update({"data_type" : str(set([type(d).__name__ for d in data]))})
#         #dict_.update({"score" : match[1]})
        
#         # Check which columns have duplicated values 
#         dict_.update({"duplicates" : data.duplicated().any()})
#         dict_list.append(dict_)
#     eda_df = pd.DataFrame(dict_list)
#     eda_df.index = df.columns
        
#     return eda_df
# eda_helper(test_df)

In [ ]:
# cols = ['strMeasure1', 'strMeasure2',
#        'strMeasure3', 'strMeasure4', 'strMeasure5', 'strMeasure6',
#        'strMeasure7', 'strMeasure8', 'strMeasure9', 'strMeasure10',
#        'strMeasure11', 'strMeasure12', 'strMeasure13', 'strMeasure14',
#        'strMeasure15']

# # work on one column at a time to replace measure with a total in OZ. 
# for col in cols:
    
#     # use preprocessing with transform function
#     test_df[col] = test_df[col].transform(split) # axis=1
#     print(test_df[col])

In [ ]:
# test_df.head()

In [ ]:
# measurements_df["Units"].unique()

In [ ]:
mult = measurement_conversions_df.loc[measurement_conversions_df["unit"] == "shots "]["multiplier"]
mult